 
 
 .main_div{
  
  background-color: rgb(114, 220, 239);
  text-align: center;
  font-size: 25px;
 }
 input{
  border-radius: 10px;
 }
  #main_contanier {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      #main_contanier div {
        padding: 20px;
        margin: 20px;
        text-align: center;
        border-radius: 40px 15px 30px 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }

      #main_contanier div:nth-child(odd) {
        background-color: rgb(229, 233, 221);
        transition: all 3s;
      }
      #main_contanier div:nth-child(odd):hover {
        width: auto;
        background-color: rgb(209, 235, 235);
        cursor: pointer;
        scale: 1.1;
        overflow: hidden;
      }

      #main_contanier div:nth-child(even) {
        background-color: rgb(229, 233, 221);
        transition: all 4s;
      }
      #main_contanier div:nth-child(even):hover {
        width: auto;
        background-color: rgb(232, 192, 150);
        cursor: pointer;
        scale: 1.1;
        overflow: hidden;
      }
      h1,h2,h3{
        margin-top: -5px;
      }
      h3:hover{
     
         background-color: rgb(237, 221, 200);
         border-radius: 10px ;
         color: rgb(15, 15, 14);
      }

      img {
        border-radius: 10px 15px 30px 10px;
        height: 300px;
        width: 100%;
        transition: all 5s;
      }
      img:hover {
        cursor: pointer;
        scale: 1.2;
        overflow: hidden;
      }

      @media screen and (min-width: 200px) and (max-width: 757px) {
        #main_contanier {
          width: 100%;

          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }

      @media screen and (min-width: 758px) and (max-width: 1024px) {
        #main_contanier {
          width: 100%;

          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }